.nav-bar {
	position: fixed;
	width: 100%;
	background-color: #21a7f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	color: white;
	z-index: 11;
}

.nav-bar img {
	height: 45px;
	width: 45px;
	border-radius: 10px;
}

.nav-list {
	display: flex;
	width: 50%;
	justify-content: center;
}
.nav-list li {
	font-weight: 700;
	font-size: 1rem;
	cursor: pointer;
	transition: color 250ms ease-in-out;
	padding: 6px 15px;
	margin-left: 20px;
	transition: 250ms;
	border-radius: 30px;
}

.nav-list li:hover {
	background-color: #fff;
	color: #21a7f5;
}

.btn-container {
	background-color: rgb(42, 38, 250);
	padding: 5px 15px;
	border-radius: 3px;
}

@media (max-width: 920px) {
	.nav-bar {
		padding: 20px 30px;
	}
	.nav-bar .dark-container {
		margin: 0 auto;
	}
	.nav-bar button {
		margin: 0 auto;
	}

	.nav-list {
		display: none;
	}
	.nav-list.active {
		background: #21a7f5;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		/* opacity: 1;
		transition: opacity 450ms ease-in-out; */
	}
	.nav-list li {
		margin: 30px 0;
	}
	.nav-list li {
		margin-left: 0;
		font-size: 1.1em;
		display: inline-block;
		padding: 8px 18px;
		text-decoration: none;
		user-select: none;
		opacity: 0;
		animation: slide_top 0.5s linear forwards;
		animation-delay: 0.2s;
	}
	@keyframes slide_top {
		0% {
			opacity: 0;
			transform: translateY(100px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.nav-bar {
		padding-right: 100px;
	}
	.toggle {
		position: fixed;
		right: 20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #fff url(../../images/icons8-menu-24.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		z-index: 1000;
	}
	.toggle.active {
		background: #fff url(../../images/close.png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
}
