.nav-bar {
	background-color: #21a7f5;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	color: white;
}

.nav-bar img {
	height: 45px;
	width: 45px;
	border-radius: 10px;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}
.nav-list li {
	font-weight: 700;
	cursor: pointer;
	transition: color 250ms ease-in-out;
	height: 10vh;
	padding: 25px 0 7px 0;
}

.nav-list li:hover {
	border-bottom: white solid 3px;
}

.btn-container {
	background-color: rgb(42, 38, 250);
	padding: 5px 15px;
	border-radius: 3px;
}
